<template lang="pug">
#app.container
  app-header
  progress-bar
  router-view
</template>

<script lang="ts">
import { Vue, Component, Lifecycle } from 'av-ts'
import axios from 'axios'
import EventBus from '../event-bus'
import AppHeader from './header.vue'
import ProgressBar from './progress-bar.vue'

@Component({
  components: {
    AppHeader,
    ProgressBar
  }
})
export default class App extends Vue {
  @Lifecycle created() {
    axios.interceptors.request.use((config) => {
      EventBus.$emit('app-busy', true)
      return config
    })

    axios.interceptors.response.use((response) => {
      EventBus.$emit('app-busy', false)
      return response
    })
  }
}
</script>

<style lang="stylus">
#app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50

h1, h2
  font-weight normal

ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 0 10px

a
  color #42b983
  transition all .5s linear
</style>
