<template lang="pug">
b-navbar(toggleable='', type='inverse', variant='inverse')
  b-nav-toggle(target='nav_collapse')
  router-link.navbar-brand(to='/') Vue.js
  b-collapse#nav_collapse(isNav='')
    b-nav(isNavBar='')
      b-nav-item(to='/posts') Posts
      b-nav-item(to='/users') Users
</template>

<script lang="ts">
import { Vue, Component } from 'av-ts'

@Component
export default class Header extends Vue {
}
</script>
