<template lang="pug">
#posts
  b-table(:items='items', :fields='fields', :current-page='currentPage', :per-page='perPage', sortable, stripped)
    template(slot='actions', scope='item')
      b-btn(size='sm', @click='remove(item.item)') Delete
  div(class='justify-content-center row my-1', v-if='items.length > 0')
    b-pagination(size='md', :total-rows='items.length', :per-page='perPage', v-model='currentPage')
</template>

<script lang="ts">
import { Component } from 'av-ts'
import List from '../traits/list'
import Post from '../sdo/post'

@Component
export default class Posts extends List {
  url = Post.url

  fields = {
    id: {label: 'ID', sortable: true},
    title: {label: 'Title', sortable: true},
    body: {label: 'Body'},
    actions: {label: 'Actions'}
  }

  toEntity = (obj: any) => {
    return new Post(obj.id, obj.userId, obj.title, obj.body)
  }
}
</script>
