<template lang="pug">
#progress-blanket(v-show='busy')
  .progress
    .progress-bar.progress-bar-striped.progress-bar-animated
</template>

<script lang="ts">
import { Vue, Component, Lifecycle } from 'av-ts'
import EventBus from '../event-bus'

@Component
export default class ProgressBar extends Vue {
  busy: boolean = false

  @Lifecycle created() {
    EventBus.$on('app-busy', (busy: boolean) => this.busy = busy)
  }
}
</script>

<style lang="stylus" scoped>
#progress-blanket
  width 100%
  height 100%
  z-index 1
  position absolute
  top 0
  left 0
  background rgba(255, 255, 255, 0.8)

.progress
  width 40%
  margin 300px auto 0

.progress-bar
  width 100%
</style>