<template lang="pug">
#users
  b-table(:items='items', :fields='fields', :current-page='currentPage', :per-page='perPage', sortable, stripped)
    template(slot='actions', scope='item')
      b-btn(size='sm', @click='remove(item.item)') Delete
  div(class='justify-content-center row my-1', v-if='items.length > 0')
    b-pagination(size='md', :total-rows='items.length', :per-page='perPage', v-model='currentPage')
</template>

<script lang="ts">
import { Component } from 'av-ts'
import List from '../traits/list'
import User from '../sdo/user'

@Component
export default class Users extends List {
  url = User.url

  fields = {
    id: {label: 'ID', sortable: true},
    name: {label: 'Name', sortable: true},
    email: {label: 'Email'},
    actions: {label: 'Actions'}
  }

  toEntity = (obj) => {
    return new User(obj.id, obj.name, obj.username, obj.email)
  }
}
</script>
